.line {
    margin-bottom: 12px;
}
.bg-info{
	background-color:#D9EDF7 !important;
	padding:15px;
}
.bg-warning{
	background-color:#FCF8E3 !important;
	padding:15px;
}
.bg-danger {
    background-color: #F2DEDE !important;
	padding:15px;
}
.bg-success {
    background-color: #DFF0D8 !important;
	padding:15px;
}
.required{
	color:red;
	font-size: 14px;
	padding-left:10px;
}