html, body {
	font-family: 'Titillium Web', sans-serif;
	background: #FFFFFF;
	font-size:14px;
}

.logo	{
	margin-top:20px;
}

.head_social_con	{
	height:30px;
	display:none;
	width:;
	float: right;
	margin-top: 5px;
}

.head_social	{float:right; }

.navbar-collapse a {
	color: #484847;
	font-size: 16px;
}
.navbar-default {
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	border: none;
	height:110px;
}

.navbar-nav	{
	float:left;
	margin-top:20px;
}

.navbar-collapse	{
	background:#FFFFFF;
}

.navbar-toggle {
	margin-top: 37px;
	margin-right: 35px;
}

.menu_btn a	{
	padding:0 !important;
}

.menu_btn	{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:3px solid #e60f52;
	margin-top:-3px;
	color:#e60f52;
	padding: 9px;
	margin-top: 3px;
}

.float_left	{
	float:left;
}

.head_login_con	{
	font-size:12px;
	width:470px;
	float:left;
	color:#777;
}

.head_input {
	width:135px;
}

.head_submit {
	width:40px;
	height:27px;
	border:1px solid #b3043a;
	background:#e60f52;
	color:#FFFFFF;
}

.top_links	{
	float:left;
}

.top_links ul	{
	padding:0;
	margin:0 30px 0 0;
}

.top_links ul li {
	display:inline-block;
	margin:3px 10px 0 0;
	font-size:12px;
	color:#777;
}

.top_links ul li a {
	color:#777;
}

.top_links ul li a:hover {
	color:#333;
}


.menu_btn a	{
	color:#e60f52 !important;
}

.menu_btn:hover, .menu_btn a:hover {
	background:#e60f52;
	color:#FFFFFF !important;
}

a:hover, a:focus {
	text-decoration:none;
	color:inherit;
}

.pink_btn	{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:3px solid #e60f52;
	padding:10px;
	color:#e60f52;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}


.blue_btn	{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:3px solid #5dafe3;
	padding:10px;
	color:#5dafe3;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

.white_btn	{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:3px solid #ffffff;
	padding:10px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}


.gallery_con	{
	width:100%;
	background:url(/img/lingoing_bck.jpg) no-repeat;
	background-size:cover;
	position:relative;
}

.sign-in-con	{
	background:rgba(255, 255, 255, 0.7);
	border-radius:5px;
	overflow:hidden;
}

.txt_nav	{
	width:440px;
	margin:20px auto;
	background:rgba(255, 255, 255, 0.7);
	border-radius:5px;
	overflow:hidden;
}

.txt_nav_btn	{
	width:220px;
	float:left;
	text-align:center;
	padding:20px;
	color:#e60f52;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}


.txt_nav .cycle-pager-active {
	background:url(/img/btn_bg.png) repeat-x;
	color:#fff;
}

.txt_slide	{
	width:100%;
	font-size: 16px;
	Fline-height: 31px;
}

.head_title	{
	background: #FFFFFF;
	padding: 0 15px;
	color: #e60f52;
	font-weight: bold;
	font-size: 33px;
	line-height: 50px;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	position: relative;
	border-radius:5px;
}

.head_textbox	{
	background-color:rgba(0, 0, 0, 0.5);
	font-size:13px;
	padding:20px;
	color:#FFFFFF;
	margin:30px 0 0 0;
}

.head_textbox a {color:#FFFFFF; }

.half_con_right, .half_con_left {
	width:100%;
}

.half_con_right	{
	float:right;
}

.half_con_left {
	float:left;
}

.grey_tri {background-image:none; }

.home_grey_half	{
	background:#F0F0F0;
	min-height:490px;
	float:left;
}

.blue_home_bullets	{
	padding:0 0 0 15px;
	margin:0;
	color:#5dafe3;
	font-size:14px;
}

.pink_home_bullets	{
	padding:0 0 0 15px;
	margin:0;
	color:#e60f52;
	font-size:14px;
}

.blue_home_bullets li, .pink_home_bullets li {
	margin:0 0 10px 0;
}

.wayra_section		{
	min-height:670px;
	background:url(/img/wayra-3d.jpg) no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	color:#FFFFFF;
}

.wayra_bottom	{
	background-color:rgba(0, 0, 0, 0.4);
	position:absolute;
	bottom:0;
	width:100%;
}

.team_section	{
	min-height:400px;
	background:#5dafe3;
	color:#FFFFFF;
}

.team_con	{
	max-width:850px;
}

.club_section {
	min-height:200px;
	background:url(/img/top100.png) no-repeat center;
	background-attachment:fixed;
	color:#e60f52;
}

.address_con	{
	width:100%;
	float:right;
	color:#FFFFFF;
	padding:0 0 0 20px;
}

.map_con	{
	padding:0;
	min-height:350px;
}


.footer_social {
	background:#e8e8e8;
	float:left;
	width:100%;
	position:absolute;
	bottom:0;
	padding:10px 0;
}

.footer		{
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	background:#FFFFFF;
	color:#a8a8a8;
	padding:30px 0 30px 15px;
}

.rp_footer	{
	float:right;
	padding:0 15px 0 0; 
}


/* Misc  */



.darkgrey_bg {
	background:#393939;
}

.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad15 {padding:15px;}
.pad20 {padding:20px;}
.pad25 {padding:25px;}
.pad30 {padding:30px;}

.padtop5{padding-top:5px;}
.padtop10{padding-top:10px;}
.padtop15{padding-top:15px;}
.padtop20{padding-top:20px;}
.padtop30{padding-top:30px;}

.padbot5{padding-bottom:5px;}
.padbot10{padding-bottom:10px;}
.padbot15{padding-bottom:15px;}
.padbot20{padding-bottom:20px;}
.padbot30{padding-bottom:30px;}

.padright5{padding-right:5px;}
.padright10{padding-right:10px;}
.padright20{padding-right:20px;}
.padright30{padding-right:30px;}
.padright50{padding-right:50px;}
.padright80{padding-right:80px;}

.padleft5{padding-left:5px;}
.padleft10{padding-left:10px;}
.padleft15{padding-left:15px;}
.padleft20{padding-left:20px;}
.padleft30{padding-left:30px;}

.mar0		{margin:0 !important; }

.martop5{margin-top:5px;}
.martop10{margin-top:10px;}
.martop15{margin-top:15px;}
.martop20{margin-top:20px;}
.martop25{margin-top:25px;}
.martop30{margin-top:30px;}
.martop35{margin-top:35px;}
.martop40{margin-top:40px;}
.martop50{margin-top:50px;}
.martop90{margin-top:90px;}

.marbot5{margin-bottom:5px;}
.marbot10{margin-bottom:10px;}
.marbot15{margin-bottom:15px;}
.marbot20{margin-bottom:20px;}
.marbot30{margin-bottom:30px;}

.marright5{margin-right:5px;}
.marright10{margin-right:10px;}
.marright20{margin-right:20px;}
.marright30{margin-right:30px;}

.marleft5{margin-left:5px;}
.marleft10{margin-left:10px;}
.marleft15{margin-left:15px;}
.marleft20{margin-left:20px;}
.marleft30{margin-left:30px;}

.txt_center	{text-align:center; }
.txt_right	{text-align:right; }
.txt_left	{text-align:left; }

.xlight		{font-weight:200; }
.light		{font-weight:300; }
.reg		{font-weight:400; }
.bold		{font-weight:700; }

.upper		{text-transform:uppercase; }

.font10{font-size:10px;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font18{font-size:18px;}
.font22{font-size:22px;}
.font32{font-size:32px;}
.font38{font-size:38px; line-height:50px; }
.font43{font-size:43px;}
.font47{font-size:47px; line-height:55px;}
.font60{font-size:60px; line-height:70px;}
.font66{font-size:66px;}

.pink_txt		{color:#e60f52; }
.blue_txt		{color:#5dafe3; }
.lightgrey_txt	{color:#929292; }
.grey_txt		{color:#393939; }

.account_type	{font-size:12px !important; }

.email-signup {padding-top:0; }

#btn-linked-in, #btn-facebook {
	box-shadow: 0 2px rgba(0, 0, 0, 0.1) !important;
	width: 320px;
}

.form_box	{
	width:100%;
	border:1px solid #cfcfcf;
	margin-bottom:20px;
	padding:10px;
}

.form_area	{
	width:100%;
	border:1px solid #cfcfcf;
	margin-bottom:20px;
	padding:10px;
	height:200px;
}

.btn-primary {
	background-color:rgba(225, 20, 87, 0.9);
	box-shadow:none;
	color: #FFFFFF;
	width: 100%;
	margin-bottom: -14px;
	width: 110%;
	margin-left: -5%;
	padding:15px 0;
	font-size:26px;
	font-weight:100;
	border:none;
}

.btn-primary:hover {
	background:#FF1457;
	color:#FFFFFF;
	border:none;
}

/* Custom responsive */

@media (max-width: 768px) {
	img {
		max-width:100%; 
		height:auto !important;
	}
	.home_grey_half {
		padding:0;
	}
	.rp_footer {
		float:left;
		padding:5px 0;
	}
	.wayra_section .font47 {
		font-size:42px;
	}
}

@media (min-width: 768px) {
	.half_con_right, 
	.half_con_left{
		width:345px;
	}
	.wayra_section {
		min-height: 390px;
	}
	.martop90 {
		margin-top:40px;
	}
	.navbar-nav	{
		float:right;
	}
	.address_con {
		padding:0 0 0 20px;
	}
	.head_title	{
		font-size: 60px;
		line-height:70px;
	}
	.break {
		width:100%;
		height:1px;
		background:#f1f1f1;
		margin:20px 0;
	}
	.grey_tri{
		background:url(/img/grey_tri.png) no-repeat top right;
	}
	.head_textbox {
		margin-top:140px 0 0 0 ;
	}
	.head_social_con {
		display:inline-block;
	}
}
@media (max-width: 992px) {
	.box_skitter {
		display:none;
	}
}
@media (min-width: 992px) {
	.address_con{
		width:300px;
	}
	.half_con_right,
	.half_con_left{
		width:455px;
	}
	.navbar-nav	{
		float:right;
	}
}
@media (min-width: 1200px) {
	.half_con_right,
	.half_con_left{
		width:555px;
	}
	#bs-example-navbar-collapse-1 {
		background:#fff;
	}
	.address_con{
		padding:0;
	}
}

.btn-submit {
	background-color:rgba(225, 20, 87, 0.9);
	box-shadow:none;
	color: #FFFFFF;
	padding:10px 15px;
	font-size:26px;
	font-weight:100;
	border:none;
}
	.btn-submit:hover,
	.btn-submit:focus {
		background:#FF1457;
		color:#FFFFFF;
		border:none;
	}

.btn-submit-blue{
	background-color:rgba(93, 175, 227, 0.9);
	box-shadow:none;
	color:#fff;
	padding:10px 15px;
	font-size:26px;
	font-weight:100;
	border:none;
}
	.btn-submit-blue:hover,
	.btn-submit-blue:focus{
		background:#14dbff;
		color:#000;
		border:none;
	}

.nav a.interpreters{
	background:#5dafe3;
	color:#fff !important;
	padding:10px 15px;
	margin-right:15px;
	box-shadow:0 2px #e6edf0;
}
	.nav a.interpreters:hover,
	.nav a.interpreters:focus{
		background:#5dafe3 !important;
		color:#000 !important;
	}
.nav a.clients{
	background:#e60f52;
	color:#fff !important;
	padding:10px 15px;
	box-shadow:0 2px #e6edf0;
}
	.nav a.clients:hover,
	.nav a.clients:focus{
		background:#e60f52 !important;
		color:#000 !important;
	}