body{
	background: #e6edf0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container > h1{
	padding:0 15px;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
}

 @media(max-width:767px){
  	footer{
		margin-top: 30px;
		text-align: center;
	}
  	#company-name-header{
		margin-top: 0;
		text-align: center;
	}
  	#notification-panel-header{
		text-align: left;
		font-size: 2.0em;
		padding-top: 20px;
	}
	.notifications-panel{
		max-width: 95%;
		margin: -20px auto;
	}
}
.logo {
    width: 120px;
    margin-top: 20px;
}

footer {
    background-color: #FFFFFF;
    height: 50px;
    margin-top: 210px;
	padding-top:15px;
}

.social-login {
    background-color: #FFFFFF;
    height: 150px;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
}
.email-signup {
    background-color: #FFFFFF;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}

.btn-default{
	box-shadow: 0 2px #E6EDF0;
}
.btn-primary{
	background-color: #FF1457;
	border: 1px solid #FF1457;
	box-shadow: 0 2px #E6EDF0;
	color: #FFFFFF;
}
	.btn-primary:hover{
		background-color: #FF1457;
		border: 1px solid #FF1457;
		box-shadow: 0 2px #E6EDF0;
		color:#000;
	}

footer a,
.nav-tabs a,
.job-title .lead a,
.invoice-body a,
.profile-summary-details a,
.notification-center a,
.dashboard_job a,
.forgot-text a,
.professional-name a,
.job-title-client a,
.btn-link{
	color: #29B3FF;
}
	
#bs-example-navbar-collapse-1{
	margin-top: 20px;
	padding-right:0;
}
#login-or {
    margin-top: 20px;
    text-align: center;
}
#quickest-way {
    margin-top: -20px;
}

#btn-facebook {
    background-color: #4C66A4;
    border-radius: 2px;
    box-shadow: 0 2px #E6EDF0;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 5px 30px;
}
#btn-linked-in {
    background-color: #4875B4;
    border-radius: 2px;
    box-shadow: 0 2px #E6EDF0;
    color: #FFFFFF;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 5px 30px;
}

.lingoing_address,
.terms,
.account_types{
	line-height:1.3em;
	text-align:left;
}
	.lingoing_address label,
	.terms label,
	.account_types label{
		font-size:1.2em;
		font-weight:normal;
	}
		.account_types label:hover{
			cursor:pointer;
		}
.submenu{
	padding:7px 15px;
	border-bottom:1px solid #E7E7E7;
	background:#E6EDF0;
}
.dashboard-line{
	border-bottom:1px solid #E7E7E7;
	background:#FFFFFF;
}
	.dashboard-line a{
		padding:12px;
	}
		.dashboard-line a:hover{
			background:#29B3FF !important;
			color: #FFFFFF;
		}
.nav-tabs a:hover{
	background:#29B3FF !important;
	color: #FFFFFF !important;
}
.forgot-text{
    margin-top: 20px;
}
	.forgot-text a{
		font-size: 1.2em;
	}
	
.notifications-container,
.notification-center,
.my-invoices-center,
.my-jobs-center,
.profile-summary{
	background:#FFF;
}
.dashboard_job a{
	text-decoration:underline;
}
.dashboard_job a:hover{
	text-decoration:none;
}
.dashboard_job p{
	margin-bottom:5px;
	font-size:1.2em;
}

.my-jobs-center .lead{
	margin-bottom:10px;
}

.dropdown-toggle img{
	width:25px;
	margin-right:5px;
}
.image-profile{
	width:60px;
	float:left;
}
.profile-summary-details{
	margin-left:70px;
}

.button-container{
	background:#D9E5EA;
	padding:15px 0;
}
	.button-container a{
		margin-right:15px;
	}

/* find jobs */
.job-container{
	margin-bottom:30px;
	border: 1px solid #E7E7E7;
	background-color: #FFFFFF;
}
.job-details{
	padding:15px 0;
	border-bottom: 1px solid #E7E7E7;
}
	.job-details .col-md-12{
		line-height:2em;
	}
.job-title{
	padding:15px;
	background-color: #FFFFFF;
    border-bottom: 1px solid #D9E5EA;
	border-top: 1px solid #D9E5EA;
}
	.job-title .title{
		padding:2px 0 !important;
	}
	.job-title h4{
		margin:0;
	}
	.job-title .project-budget{
		padding:0 !important;
	}
	.job-title .note{
		margin:0 !important;
	}
.job-client{
	padding:15px;
}

/* invoicing */
.invoice-container{
	border:1px solid #CCCCCC;
	margin-bottom:30px;
	background:#FFF;
}
.invoice-client{
	border-bottom:1px solid #CCCCCC;
	padding:7px 15px;
	color:#333333;
	font-size:1.2em;
}
.invoice-body{
	padding:7px 15px;
}
	.invoice-body .lead{
		margin-bottom:5px;
	}
	.invoice-body .price,
	.invoice-body small{
		font-weight:bold;
	}	
.white-container{
	background:#FFF;
	padding:15px;
}
.my-panel{
	background:#FFF;
	padding:15px;
	margin-top: 40px;
}
	.my-panel .title{
		font-weight:bold;
		text-transform:uppercase;
		font-size:12px;
		margin-bottom:7px;
		color:#333333;
	}
	.my-panel small{
		font-style:italic;
	}
	.my-panel .progress{
		background-color:#fff;
		border:1px solid #E7E7E7;
		margin-bottom:5px;
	}
	.my-panel .progress-bar{
		background:#29B3FF;
	}
.budget-label{
	margin-bottom:5px;
}
.budget-container h3{
	margin:5px 0;
}
.navbar-header{
	margin-left:15px !important;
}
.my-profile-picture img{
	width:120px;
	cursor:pointer;
}
#profile-picture-upload{
	display:none;
}
.profile-summary-details h4{
	margin: 6px 0;
}
.job-details-status{
	margin-top: 0;
}
.job-title-client{
	margin-bottom:10px;
}
	.job-title-client h3{
		margin-bottom:5px;
	}
	.job-title-client img{
		width:40px;
		margin-bottom:3px;
	}
.job-title-right-container{
	margin-top:20px;
}
.img-container{
	margin-top:20px;
}
.profile-sidebar-data-text{
	font-size:30px;
	margin-top:5px;
}
.public-profile-big-container{
	padding:25px 0 !important;
}
.public-profile-language-skills{
	margin-top:20px;
}
	.public-profile-language-skills .lead{
		margin-bottom:5px;
	}
	.public-profile-language-skills ul{
		line-height:2em;
	}
.public-profile-price{
	margin-top:20px;
}
	.public-profile-jobs-worked .lead,
	.public-profile-hours-worked .lead,
	.public-profile-rating .lead{
		margin-bottom:5px;
	}
	.public-profile-rating .stars{
		margin-bottom:0;
		padding-top:10px;
	}
	.public-profile-rating .note{
		margin-bottom:0;
	}
.rating-exact{
	font-size:36px;
	padding-top:10px;
}
.booking-exact{
	margin-top:10px;
	font-size:18px;
}
.gold-star{
	color:#FFD700;
}
.job-detail-container{
	background:#FFF;
}
.light-blue-container{
	background:#D9E5EA;
	padding: 15px;
}
.applicant-container{
	background:#FFF;
}
.post-a-job-button{
	margin-right:15px;
}
.navbar-profile{
	padding-right:30px;
}
.public-profile-stars{
	padding:5px 0 0;
	margin:0;
	font-size:18px;
}
	.public-profile-stars .glyphicon-star{
		cursor:none !important;
	}
	
.review-container{
	margin-bottom:20px;
}
	.review-container .review{
		font-style:italic;
		font-size:12px;
		margin-bottom:5px;
	}
	.review-container .review-name{
		font-weight:bold;
	}
.reviews-container{
	margin-top:20px;
}
.reviews-review{
	padding:20px;
	font-style:italic;
	background:#FFF;
}
.review-stars{
	font-size:16px;
}
.review-stars .glyphicon-star{
	cursor:none;
}

.requirements{
	padding-bottom:10px;
}
.error-requirements{
	margin-bottom:20px;
}
.coworkers{
	margin-left: 20px;
}

/*-------------------------------------------------*/

.navbar{
	margin-bottom:0;
}


.required{
	color:red;
	font-size: 14px;
}
.required-small{
	color:red;
	font-size: 12px;
}

.line {
    margin-bottom: 12px;
}
	
.complete-profile{
	margin-top:20px;
}
.control-error{
	line-height:1.5em;
	font-size:14px;
}
.error-form-control{
	border:1px solid #B94A48;
}

.profile_layout{
	background:#FFFFFF;
    padding: 15px;
}

.login-button{
	margin-right:10px;
}

.profile_small_description{
	font-size:15px;
	font-weight:bold;
	padding:15px;
}
.profile_description{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#BBBBBB;
	padding:15px;
}
.navbar-default{
	background-color: #FFFFFF;
}
.border{
	border:1px solid #E7E7E7;
	padding:10px;
}
.cat-title{
	color:#333333;
	text-transform:uppercase;
	font-size:12px;
}

.yellow_container{
	background:#ffe599;
	padding:15px;
	border:1px solid #000;
}
.gray_container{
	background:#eeeeee;
	padding:15px;
}
	.gray_container .lead{
		margin:0;
	}
.text-uppercase{
	text-transform:uppercase;
}
.opened_position{
	border-top:1px solid #000;
	padding-top:15px;
}
.specialisms{
	padding:0 3px;
}
.dashboard_job{
	margin-bottom:15px;
	border-bottom:1px solid #eeeeee;
}
.top-space{
	margin-top:30px;
}
.border-all{
	border:1px solid #999999;
	padding:0;
}
	
.border-bottom{
	border-bottom:1px solid #999999;
}

.message-header{
	border-bottom:1px solid #DDDDDD;
}
.message{
	padding:15px 15px;
	background:#EEEEEE;
}
.application-container{
	font-style:italic;
	border:1px dashed #DDDDDD;
	margin-top:20px;
	color:#999;
	padding:15px;
	background:#F1F1F1;
}
.applicants-container{
	border-top:1px solid #DDDDDD;
	margin:20px 0 10px;
	padding:15px;
}
.ratings-container{
	background:#FFF;
	margin-top:15px;
}
.ratings-header{
	padding:15px;
	border-bottom:1px solid #E7E7E7;
}
.apply-for-overtime-container{
	background:#D9E5EA;
	padding:15px;
	margin:20px 0;
}
.overtime-rate-text{
	margin:15px 0;
	font-size:1.2em;
}
.uncomplete-profile{
	background:#eeeeee;
	border:1px solid #DDDDDD;
	margin:30px 0;
}
	.uncomplete-profile h3{
		margin-bottom:0;
	}
	.uncomplete-profile small{
		display:block;
		margin-bottom:20px;
	}
	.uncomplete-profile .progress{
		margin-bottom:2px;
		margin-top:25px;
	}

/* common */
.gray-header{
	font-size:12px;
	text-transform: uppercase;
	color:#999999;
	margin-bottom:0;
}
.black-subtext{
	font-size:12px;
	color:#000;
	font-weight:bold;
	padding:10px 0 5px;
}
.border-all{
	border:1px solid #E7E7E7;
}
	.border-all .lead{
		margin-bottom:0;
		padding:6px 0;
	}
.border-bottom-gray{
	border-bottom:1px solid #E7E7E7;
}
.border-right-gray{
	border-right:1px solid #E7E7E7;
}
.bottom-space{
	margin-bottom:30px;
}
.no-margin{
	margin:0 !important;
}

/* my-jobs */
.my-jobs-menu{
	display:block;
}

/* messages */
.message-container{
	margin-bottom:30px;
	background:#FFF;
}
.send-message-button-placeholder{
	margin:15px 0;
}

/* find professionals */
.professional-picture{
	width:50px;
	float:left;
}
.professional-name{
	padding-left:10px !important;
	margin-top:5px;
	float:left;
	width:auto;
}
.professional-languages{
	background:#F7F7F7;
	padding:15px;
	line-height:2em;
}
.professional-details{
	background:#F7F7F7;
}
	.professional-details div{
		padding:7px 15px;
	}
.applicant-container{
	padding:15px;
	margin-top:15px;
}
.btn-group{
	margin-right:15px;
}

/* overtime */
.overtime-container{
	padding:15px;
	margin-bottom:15px;
	background:#FFF;
}
.overtime-container-text{
	padding:15px;
	margin-bottom:15px;
}
.overtime-picture{
	width:40px;
	float:left;
}
.overtime-name{
	margin-top:8px;
	padding-left:10px !important;
	float:left;
	width:auto;
}
	.overtime-name a{
		text-decoration:underline;
	}
		.overtime-name a:hover{
			text-decoration:none;
		}
.notification-text-with-image small,
.notification-text small,
.overtime-name small{
	color:#999999;
}
.notification-text-with-image{
	margin-left:60px;
}

/* notifications */
.notification-container{
	margin-bottom:15px;
	border-bottom:1px solid #E7E7E7;
	padding:10px;
}
.notifications-container{
	padding:15px;
}
.badge-red{
	background:#FF1457;
}

#mapCanvas{
	width:100%;
	height:250px;
}

.my-jobs-fixed-budget{
	padding-bottom:0 !important;
}
.stars{
	font-size:25px;
}
	.glyphicon-star{
		cursor:pointer;
	}

/* invoices */
.stripe-button-el {
    overflow: hidden;
    display: inline-block;
    visibility: visible!important;
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: linear-gradient(#28a0e5,#015e94);
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
.stripe-button-el:hover{
	text-decoration:none !important;
}

.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275ff;
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#budget_type_fixed_hourly_rate_container,
#budget_type_fixed_container{
	margin-left:2px;
}

.weekly_error_container,
.weekly_bookings,
.one_day_booking{
	margin:15px 0;
}
.one_day_booking_add_item{
	margin-top:15px;
}
.weekly_bookings_header{
	margin-top:30px;
}
.weekly_bookings_item{
	margin-bottom:15px;
}
	.weekly_bookings_item .day{
		padding:6px 12px;
		font-size:14px;
		text-align:center;
		line-height: 1.42857;
	}
.one_day_booking_item{
	margin-bottom:15px;
}
.duration,
.date{
	margin-bottom:10px;
}
.day{
	font-size:14px;
	padding-top:7px !important;
}
.repeat_job{
	margin-bottom:10px;
}
.dates-container{
	padding:25px;
	background:#FFF;
}
.blue_home_bullets	{
	padding:0 0 0 15px;
	margin:20px 0 0 20px !important;
	color:#5dafe3;
	font-size:14px;
}

.pink_home_bullets	{
	padding:0 0 0 15px;
	margin:20px 0 0 20px !important;
	color:#e60f52;
	font-size:14px;
}
.blue_home_bullets li, .pink_home_bullets li {
	margin:0 0 10px 0;
}

.pink_btn:hover,
.pink_btn:focus{
	background:#E60F52 !important;
	color:#FFF;
}
.xlight label{
    font-weight: 200 !important;
}
.font24{
	font-size:24px;
}
.faq-title{
	margin-top:40px;
}
.fp_logedin_welcome{
	padding-right:15px;
	margin-top:3px;
}
.form_box{
	margin-bottom:0 !important;
}
.has-error .form_box{
	border:1px solid #B94A48 !important;
}
.form_box_container{
	margin-bottom:20px;
}
.bio-name{
	margin:15px 0;
	line-height:45px;
}
.bio-pos{
	font-size:20px;
	margin-bottom:20px;
}

/* header */
.logo	{
	margin-top:20px;
}

.head_social_con{
	height:30px;
	display:none;
	float: right;
	margin-top: 5px;
}

.head_social	{float:right; }

.navbar{
	font-family: 'Titillium Web', sans-serif;
}
.navbar-collapse a {
	color: #484847;
	font-size: 16px;
}
.navbar-default {
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);
	border: none;
	height:110px;
}
.martop5{
	margin-top:5px;
}
.marright10{
	margin-right:10px;
}
.marleft10{
	margin-left:10px;
}
.fp_logedin_welcome {
    margin-top: 3px;
    padding-right: 15px;
	line-height:22.4px;
}
.navbar-nav	{
	float:left;
	margin-top:10px;
}

.navbar-collapse	{
	background:#FFFFFF;
}

.navbar-toggle {
	margin-top: 37px;
	margin-right: 35px;
}

.float_left	{
	float:left;
	line-height:22.4px;
}
.navbar-nav	{
	float:right;
}
.head_login_con	{
	font-size:12px;
	width:470px;
	float:left;
	color:#777;
}

.head_input {
	width:135px;
}

.head_submit {
	width:40px;
	height:27px;
	border:1px solid #b3043a;
	background:#e60f52;
	color:#FFFFFF;
}

.top_links	{
	float:left;
	line-height:22.4px;
	font-size:12px;
}

.top_links ul	{
	padding:0;
	margin:0 30px 0 0;
}

.top_links ul li {
	display:inline-block;
	margin:3px 10px 0 0;
	font-size:12px;
	color:#777;
}

.top_links ul li a {
	color:#777;
}

.top_links ul li a:hover {
	color:#333;
}

.head_input {
	width:135px;
}

.head_submit {
	width:40px;
	height:27px;
	border:1px solid #b3043a;
	background:#e60f52;
	color:#FFFFFF;
}
.head_textbox {
	margin-top:140px 0 0 0 ;
}
.head_social_con {
	display:inline-block;
}
.bg-success {
    background-color: #DFF0D8;
	padding: 15px;
}
.bg-info{
	background-color:#D9EDF7 !important;
	padding:15px;
}
.bg-warning{
	background-color:#FCF8E3 !important;
	padding:15px;
}

.cookie-notice{
	background:#2D2D2D;
	position:fixed;
	bottom:0px;
	width:100%;
	padding:15px;
	box-shadow:0 0 19px #FFF;
}
	.cookie-notice p{
		margin-bottom:2px;
		color:#CCCCCC;
	}
.btn-agree{
	background-color: #FF1457;
    border: 1px solid #FF1457;
    color: #FFFFFF;
}
.review-dates-buttons{
	padding-top:4px !important;
}
.review-dates-header div{
	border-bottom: 1px solid #C3C3C3;
}
.review-date-row{
	padding-bottom:15px;
	padding-top:15px;
	border-bottom:1px solid #C3C3C3;
}
.notes-attachments-container{
	border-top:1px solid #E3E3E3;
	padding-top:15px;
	margin-top:15px;
}
.gray-background{
	background:#F7F7F9;
}
.button-line{
	padding-top:15px;
}
.preview-date {
	border-bottom:1px solid #E3E3E3;
}
.preview-date .date{
	margin-bottom:0 !important;
}
.note-attachment-container div,
.preview-date .date div{
	padding:10px 15px;
}
.duration-preview{
	margin-top:15px;
}
.related-booking-title{
	padding:10px 15px;
	border-bottom: 1px solid #C3C3C3;
	font-weight:bold;
}
.recruitment-form{
	margin-top:15px;
}
.recruitment{
	color:#FF1457 !important;
	font-size:14px;
	font-weight:bold;
}
.membership-body{
	font-size:16px;
	padding-top:8px;
}
.insurance-document-required{
	padding-top:8px;
}

.membership_body_documents{
	background:#f1f1f1;
	margin-bottom:20px;
	padding:15px;
}
.insurance_upload_container{
	margin-top:15px;
}
.btn-blue {
    background-color: #29B3FF;
    border: 1px solid #29B3FF;
    box-shadow: 0 2px #E6EDF0;
    color: #FFFFFF;
}
.insurance_upload_indicator{
	margin-top:15px;
}
.lsp-did-not-attend{
	margin-right:5px;
}
.progress-dna{
	margin-top:10px !important;
	margin-bottom:0 !important;
}
.progress-bar-dead{
	color:#000;
}
.email-address-container small{
	font-size:10px;
}
.email-address-container label{
	font-size:14px;
}
.email-address-container{
	font-size:16px;
	line-height: 1.3em;
}